/* ------ Body CSS ------ */
body {
  font-family: 'Andika', sans-serif;
  min-height: 00vh;
  font-size: 20px;
  background-color: rgba(255, 228, 196, 0.74);
}

/* ------ Header CSS ------ */
.header {
  margin: auto;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
}

header.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding-right: 100px;
}

.header,
h3 {
  background-color: #3387a8;
}

.social-media-icons {
}

.logo {
  height: 200px;
  padding-left: 90px;
  padding-top: 20px;
}

/* ------ Main CSS ------ */

header,
footer,
main {
  max-width: 1200px;
  min-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

/* ------ Main Grid Container ------ */

.main-grid {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 2fr;
}

.action-button {
  background-color: rgba(255, 37, 37, 0.651);
  width: 300px;
  height: 100px;
  font-size: 40px;
  margin-top: 250px;
}

button#clear-button {
  background-color: #3387a8;
  margin: auto;
  align-items: center;
}

button#clear-button:hover {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
  background-color: rgba(145, 207, 53, 0.699);
  cursor: pointer;
  font-style: italic;
}

.action-button:hover {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
  background-color: rgba(145, 207, 53, 0.699);
  cursor: pointer;
  font-style: italic;
}

/* ------ Social Media Links & container ------ */

.social-media-container {
  /* grid-column: 1; */
  padding: 10px;
  background-color: rgba(194, 228, 228, 0.664);
}

.social-media-box {
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(194, 228, 228, 0.664);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(3, 3, 3, 3);
}

/* ------ Weather Widget & container------ */

.weather-widget-container {
  /* grid-column: 3; */
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(194, 228, 228, 0.664);
  
}

.weather-box{
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(194, 228, 228, 0.664);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(3, 3, 3, 3);
  margin-top: 25px;
}

/* ------ Smoothie Pic and Order Button ------ */

.order-container {
  /* grid-column: 2; */
  width: 800px;
  height: 800px;
  text-align: center;
  margin: 0 auto;
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

li.home_button1,
li.home_button2,
li.home_button3 {
  margin: 1px;
  background-color: rgb(39, 204, 113);
  max-width: 480px;
  min-width: none;
}

.order-container,
h3 {
  margin-top: 0px;
  background-color: rgb(39, 204, 113);
}

.container.loaded {
  opacity: 0;
}

/* -------- Home Navbar -------- */

.middle {
  padding: 30px;
}

.thebar {
  display: flex;
  background-color: var(--menu-bg-color);
  max-width: 830px;
  min-width: 480px;
  margin: 0 auto;
  row-gap: 1px;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0px;
  margin-block: 0px;
  width: 100%;
}

nav ul li {
  flex-grow: 1;
  width: 100%;
  color: white;
  text-align: center;
  border: 1px solid black;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

nav ul li a:hover {
  background-color: rgb(146, 207, 53);
  color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

a:hover {
  color: rgb(146, 207, 53);
}

a {
  color: black;
}

/* ----- Form CSS ------ */

.fruit_form {
  margin-top: 1rem;
  margin: 0 auto;
  border: 1px solid black;
  max-width: 900px;
  min-width: 500px;
  background-color: rgba(255, 37, 37, 0.473);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
  /* border: 1px solid black; */
}

div.column_1 {
  display: block;
  justify-content: left;
  align-items: center;
  width: 200px;
  margin: auto;
}

.form-group {
  align-items: center;
  justify-content: center;
  text-align: left;
}
.column_1 div {
  display: block;
  padding: 10px;
}

.column_2 div {
  display: block;
  width: 200px;
  padding: 10px;
}

.column_3 h3 {
  width: 300px;
}

.column_3 div {
  display: block;
  padding: 10px;
}

.submit-button {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
/* ------------------------------------------------ */

/* ----- Fruit Drink Form ----- */

.fruit-class {
  border: 1px solid black;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 37, 37, 0.473);
  border-radius: 10px;
}

.Thebutton {
  background-color: rgba(255, 37, 37, 0.651);
  width: 300px;
  height: 100px;
  font-size: 40px;
  margin-top: 35px;
}

.Thebutton:hover {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
  background-color: rgba(145, 207, 53, 0.699);
  cursor: pointer;
  font-style: italic;
}

.action-button {
  background-color: rgba(255, 37, 37, 0.651);
  width: 300px;
  height: 100px;
  font-size: 40px;
  margin-top: 250px;
}

/* ------ thank you CSS ------ */

.thankyou-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
  /* border: 1px solid black; */
}

div#orderDetails-formatted {
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(194, 228, 228, 0.664);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(3, 3, 3, 3);
}

div.ordercalories {
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(194, 228, 228, 0.664);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(3, 3, 3, 3);
  
}

/* ------ CSS for about us card styling ------ */
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.card h2 {
  font-size: 24px;
  color: #333;
}

.card p {
  font-size: 16px;
  color: #666;
}

/* ------ Footer CSS ------ */

footer {
  background-color: var(--header-bg-color);
  text-align: left;
  border: 1px solid black;
  padding: 1rem;
  color: white;
  background-color: #3387a8;
  padding: 50px;
}

footer p {
  margin: 5px;
}

.footer-logo {
  height: 100px;
}

.maps-logo {
  height: 50px;
}

.footer-links {
  display: flex;
  justify-content: left;
}

.logo-text {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

/* .logo-text2 {
  display: block;
  text-align: left;

} */


a.logo-text {
  margin: auto;
  justify-content: center;
}

img.footer-logo {
  padding-left: 10px;
  padding-right: 10px;
}

img.maps-logo {
  padding-left: 10px;
  padding-right: 10px;
}

img#card-img {
  width: 300px;
  border-radius: 15%;
  box-shadow: 0px 2px 5px rgba(3, 3, 3, 2); 
}

div.card {
  background-color: rgba(194, 228, 228, 0.664);
  box-shadow: 0px 2px 5px rgba(1, 1, 1, 1);
  
}

@media (max-width: 1200px) {
  div.main-grid {
    display: grid;
    grid-template-rows: 1;
  }

  .social-media-container{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .order-container{
    grid-row: 1;
    
  }

  .weather-widget-container{
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  @media (max-width: 835px) {
    .order-container {
      width: 470px;
    }
  }
  nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0px;
    margin-block: 0px;
    width: 50%;
  }
  @media (max-width: 600px) {
    nav.thebar {
      width: 480ex;
    }

    .header.header {
      display: block;
    }
    .logo {
      display: none;
    }

    .middle {
      padding: 10px;
    }
    nav a {
      padding: 5px;
    }
  }
}


/* ----- thankyou-lists ----- */

.orderlylist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  margin-left: 100px
}