@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

/* Font */
.body{
    font-family: 'Instrument Serif', serif;
    display: flex;
    flex-direction: column;
}

footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

a {   
    color: black;   
}

a:active {
    color: blue;
}

a[tabindex]:focus {
    color:blue;
    outline: none;
}

.h2_box{
background-color: rgb(165, 224, 211);
}

.content{
    margin: auto;
    padding: 10px;
}

/* Small screens */
@media only screen and (max-width: 480px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        padding: 10px;
        column-gap: 30px;
        row-gap: 30px;
        height: 625px;
    }

    .bar_1 {
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 5px;
        height: 625px;
        border-radius: 25px;
        background-color: rgb(196, 190, 190);
    }
    
    .bar_2 {
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 5px;
        height: 625px;
        border-radius: 25px;
        background-color: rgb(196, 190, 190);
    }
    
    .bar_3 {
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 5px;
        height: 625px;
        border-radius: 25px;
        background-color: rgb(196, 190, 190);
    }
}

/* Medium screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        padding: 10px;
        column-gap: 40px;
        row-gap: 30px;
        height: 625px;
    }

    .bar_1 {
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 5px;
        height: 625px;
        border-radius: 25px;
        background-color: rgb(196, 190, 190);
    }
    
    .bar_2 {
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 5px;
        height: 625px;
        border-radius: 25px;
        background-color: rgb(196, 190, 190);
    }
    
    .bar_3 {
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 5px;
        height: 625px;
        grid-column: span 2;
        border-radius: 25px;
        background-color: rgb(196, 190, 190);
    }
}

/* Large screens */
@media only screen and (min-width: 769px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        padding: 10px;
        column-gap: 30px;
        row-gap: 30px;
        height: 625px;
    }

    .bar_1 {
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 5px;
        height: 625px;
        row-gap: 30px;
        border-radius: 25px;
        background-color: rgb(196, 190, 190);
    }
    
    .bar_2 {
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 5px;
        height: 625px;
        row-gap: 30px;
        border-radius: 25px;
        background-color: rgb(196, 190, 190);
    }
    
    .bar_3 {
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 5px;
        height: 625px;
        border-radius: 25px;
        background-color: rgb(196, 190, 190);
    }

}

/* Content */
.main_title {
    background-color: grey;
    border: 5px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px;
}

.frame_1 {
    margin: auto;
    height: 350px;
}

.frame_2 {
    margin: auto;
    height: 350px;
}

.frame_3 {
    margin: auto;
    height: 350px;
}