.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 10px;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(196, 196, 196);
    box-shadow: 0 0 15px rgba(10, 10, 10, 10); /* Adjust the values as desired */
}

.card-class{
    border: 1px solid black;
    text-align: center;
    background-color: rgb(158, 136, 176);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h1man {
    text-align: center;
    color: rgb(69, 28, 88);
}

.h2-man {
    color: rgb(69, 28, 88);
}

body {
    /*font-family: "Open Sans", sans-serif;*/

    /*font-family: 'Italiana', serif;*/

    font-family: 'Pathway Gothic One', sans-serif;
    min-height: 00vh;
    /* font-size: 10px; */
}
